body {
    background-color: black;
}

#buttons {
    margin: 1rem auto;
}

#searchbox {
    width: 25%;
    margin: 5px auto;
}


.searchbtn, .addbtn {
    background-color: black;
    color: lightblue;
}

.hr {
    margin: 2rem auto;
    background-color: lightblue;
    width: 50%;
}

#results {
    max-width: 100%;
    margin: 0 auto;
}

div#results.col-sm-12.text-center img {
    margin: 1rem;
}

/* To be used for dynamically added buttons */
.button-template {
    background-color: black;
    color: lightblue;
    margin: 5px;
    font-size: 12px;
}