@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Original+Surfer');
@import url('https://fonts.googleapis.com/css?family=Keania+One');

body {
    background-color: black;
    font-family: 'Keania One', cursive;
}

h2 {
    color: lightblue;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 3rem;
}

#buttons {
    margin: 1rem auto;
}

#searchbox {
    width: 25%;
    margin: 5px auto;
}


.searchbtn, .addbtn, .clearbtn{
    background-color: black;
    color: lightblue;
}

.hr {
    background-color: lightblue;
    width: 50%;
    opacity: 0.25;
}


div#results.col-sm-12.text-center img {
    margin: 10px;
}

/* To be used for dynamically added buttons */
.button-template {
    background-color: black;
    color: lightblue;
    margin: 5px;
    font-size: 12px;
}

div.card {
    width: 232px !important;
    background-color: black;
    float: left;
    margin: 5px;
}


#results {
    margin-left: 4rem;
}

.text-result {
    margin-top: 2rem;
    font-style: italic;
    font-size: 12px;
}

.text {
    font-style: italic;
    font-size: 12px;

}

.text, .text-result {
    color: lightblue;
    opacity: 0.25;
}

select#limit.form-control {
    width: 7%;
    margin: auto;
}